html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
  background-color: rgb(242, 0, 0);
}

canvas {
  display: block;
}

a:hover{
  color:palevioletred;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.linkson {
  position: absolute;
  top: 50%;
  left: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  opacity: 0; /* Makes the link invisible by default */
  transition: opacity 5s ease; /* Adds a smooth fade-in effect */
}

p:hover{
  color: yellow;
}

.idk {
  color: black;
  position: absolute;
  top: 50%;
  left: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.tryingarea {
  width: 100px;
  height: 100px;
}

/* When the area is hovered, show the link */
.tryingarea:hover .linkson {
  opacity: 1;
}