html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
  background-color: rgb(242, 0, 0);
}

canvas {
  display: block;
}

a:hover{
  color:palevioletred;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.linkson {
  position: absolute;
  top: 50%;
  left: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  opacity: 0; /* Makes the link invisible by default */
  transition: opacity 10s ease; /* Adds a smooth fade-in effect */
}

p:hover{
  color: yellow;
}

.idk {
  color: black;
  position: absolute;
  top: 50%;
  left: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.tryingarea {
  width: 100px;
  height: 100px;
}

/* When the area is hovered, show the link */
.tryingarea:hover .linkson {
  opacity: 1;
}

.world2{
  width: 100%;
  height: 1000px;
  background-image: url('gifs/broken_woah.gif');
  background-size: relative;
  background-position: center;

}


.littleangel{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 140%;
  left: 13%;
  transform: translate(-50%, -50%);
}

.cloud {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cloud2 {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.cloud3 {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.cloud4 {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.cloud5 {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.cloud6 {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.darkangel {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 87%;
  transform: translate(-50%, -50%);
}

.darkangel2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 12%;
  transform: translate(-50%, -50%) scaleX(-1);
}


.poetry {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.broken1 {
  width: 400px;
  height: 400px;
  position: absolute; 
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.poem1 {
  width: 300px;
  height: 700px;
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.poema {
  width: 300px;
  height: 700px;
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.castle {
  width: 100%;
  height: auto;
  background-image: url('gifs/castlebackground.gif');
  position: relative;
  top: 50%;
  left: 0%;
  z-index: 1;
}

.dragon {
  width: 500px;
  height: auto;
  position: absolute;
  top: 150%;
  right: 35%;
  z-index: 2;
}

.topline {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  z-index:2;
}

.goodbye {
  position: absolute;
  top: 350%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  z-index:2;
}