html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 20000px;
  background-color: black;
}

canvas {
  display: block;
}


.backgroundcontainer {
  width: 100%;
  height: 1000px;
  background-image: url('backgroundtop_.jpg');
  background-size: contain;
  background-position: center;
  /* border: 6px solid black; */
}

.albumcover {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.guitar {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scottpilgrim {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.greystars {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.greystars2 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.flowerborders {
  width: 100px;
  height: 300px;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.welcometitle {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scribble1 {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.musicnotes {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}