html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.container {
  max-width: 1200px; /* Limits width on desktop */
  width: 100%;       /* Allows shrinking on mobile */
  margin: 0 auto;    /* Centers the container */
}

.backgroundcontainer {
  width: 1200px;
  height: 1000px;
  background-image: url('backgroundtop_.jpg');
  background-size: cover;
  background-position: center;
}

.mainframe {
  width: 1200px;
  height: 1000px;
  border: 6px solid black;
}